[Unit]
Description=VPN Network Namespace {{ NETNS_NAME }}

[Service]
Type=oneshot
ExecStart=/usr/bin/ip netns add {{ NETNS_NAME }} 
ExecStart=/usr/bin/ip link add wg1 type wireguard
ExecStart=/usr/bin/ip link set wg1 netns {{ NETNS_NAME }} 
ExecStart=/usr/bin/ip netns exec {{ NETNS_NAME }} wg setconf wg1 /etc/wireguard/{{ NETNS_NAME }}.conf
ExecStart=/usr/bin/ip -n {{ NETNS_NAME }} a add {{ NETNS_IP }} dev wg1
ExecStart=/usr/bin/ip -n {{ NETNS_NAME }} link set wg1 up
ExecStart=/usr/bin/ip -n {{ NETNS_NAME }}  route add default dev wg1

ExecStop=/usr/bin/ip netns delete {{ NETNS_NAME }} 
RemainAfterExit=true

[Install]
WantedBy=default.target
